body{
    font-family: 'Quicksand', sans-serif;
}
.jumbotron{
    margin: 2rem;
    border-style: outset;
}
h2{
    text-align: center;
    font-family: 'Piedra', cursive;
}
.button{
    margin: 2em;
    display: flex;
    justify-content: center;
}
.img-round{
    border-radius: 50%;
    width:70%;
}