body{
    background-color: rgb(245,245,245);
}
.header-img{
    background-image: url(../images/cook1.jpg);
    height: 500px;
    background-size:cover;
    background-position: center;
    border-style: groove;
}
.header-txt{
    text-align: center;
    padding-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}
.recipes{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: space-between;
}
.img-round{
    border-radius: 50%;
    width:70%;
    margin:1rem;
}
.recipes-display{
    margin: 15px;
}
.rcp-txt{
    position: relative;
    background: white;
    align-items: center;
    padding:15px;
    color: lightslategray;
    margin:1rem;
}
a:-webkit-any-link{
    cursor: pointer; 
    text-decoration: none;
}
h2, .header-txt{
    font-family: 'Vast Shadow', cursive;
}
p, a{
    font-family: 'Quicksand', sans-serif;
}
   
